<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div>
  <div class="h-20 bg-orange-500 flex flex-column justify-center p-2">
    <h1 class="text-xl font-bold text-white">History of Latter-day Saints - Prevalent Leaders Who Were Excommunicated</h1>
    <mat-form-field class="pr-4 w-50">
      <mat-select [(ngModel)]="selected" placeholder="Select Leader">
        <mat-option *ngFor="let leader of leaders; let i = index" [value]="config[i]">{{leader}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="content"> 
    <app-leader-template class="justify-center" [imageUrl]="selected.imageUrl" [description]="selected.description" [dialogSources]="selected.sources"></app-leader-template>
  </div>
</div>

